.app {
  background-color: #f3f3fb;
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background: #b7bdcb;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(175, 175, 175);
}
